@model IEnumerable<CategoryViewModel>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" href="/products">Anasayfa</a>
    
    
        @foreach(var i in Model)
        {
            <div class="d-flex justify-content-center">
            <a class="btn @(ViewBag.SelectedCategory == i.Url ? "btn-secondary w-75" : "btn-outline-secondary w-75")" asp-controller="Home" asp-action="Index" asp-route-category="@i.Url">@i.Name</a>
            </div>
        }
    
</div>
